.header-list {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

.header-list .top-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

.header-list .top-container a {
    height: 3.2rem;
}

.logoimg {
    height: 1.6rem;
}

.header-list .h3 {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2 auto;
}

.header-list .h3 h3 {
    font: 700 3.6rem Archivo;
    color: var(--color-title-in-primary);
}

.subTitulo{
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var (--color-text-in-primary);
    margin-top: 2.4rem;
}
@media (min-width:700px) {

    .header-list {
        height: 200px;
    }

    .header-list .top-container {
        max-width: 1100px;
    }

    .header-list .h3 {
        flex: 1;
        max-width: 600px;
        margin: 0 auto;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        position: absolute;
        height: 84px;
        left: 352px;
        top: 80px;
    }
    
}